@import url("https://fonts.googleapis.com/css?family=Lato");



body {
  margin:0;
  font-family: Arial, Helvetica, sans-serif;
  color: #FFF;

}

#main.container
{
  text-align: center;
}

.disabled
{
  opacity: 0.5;
}
#game-board {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ccc;

  background: #ccc;
  border-radius: 0.25em;
}
#game-board > table
{
  margin: 0 auto;
  
}

#game-board > table th
{
  margin: 0;
  padding: 0.125em 0.25em;
  line-height: 100%;
}

#game-board > table .cell
{
  background: #5cb85c;
  border: 1px solid #ccc;
  border-radius: .25em;
  padding: 0;
  margin: 0;
  line-height: 0;
}
#game-board > table .cell.attackable
{
  cursor: pointer;
}
#game-board > table .cell.attackable:hover
{
  background: #cc0;
}

#game-board > table .cell > .disc
{
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 2em;
  margin: 0.25em;
}
#game-board > table .cell.white > .disc
{
  background: #fff;
}
#game-board > table .cell.black > .disc
{
  background: #000;
}
#game-board > table .cell.playable > .disc
{
  background: #F50;
  opacity: 0.2;
}
#game-board > table .cell.playable:hover > .disc
{
  opacity: 1.0;
}
#game-options {
  float:left;
  position: fixed;
  top: 50%;
  /* bring your own prefixes */
  transform: translate(0%, -50%);
}



.input-color-container {
  left:10%;
  position: relative;
  overflow: hidden;
  width: 44px;
  height: 24px;
border-radius: 40px;
box-shadow: 1px 2px 2px 0px #999;
display: inline-block;
}

.input-color {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 56px;
  height: 56px;
  border: none;
}
#game-options {
  background-color: #f0f0f0;
  padding: 30px;
  border-radius: 5%;

}


.open{
  left:-180px !important;
  
}
.transition{
  
-webkit-transition: left 5s ease-out;  /* Chrome 1-25, Safari 3.2+ */
   -moz-transition: left 5s ease-out;  /* Firefox 4-15 */
     -o-transition: left 5s ease-out;  /* Opera 10.50–12.00 */
        transition: left 5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #CCC;
  position: fixed;
  top: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: rgb(170, 170, 170);
  border-radius: 0.25em;

}

.active {
  background-color: #5CB85C;
  border-radius: 0.25em;
}

.scoreboard {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 600px;
  height: 100px;
  background: #5CB85C;
  color: #f0f0f0;
  align-items: center;
  border-radius: 8px;
  position: fixed;
  top: 120%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -100%);
}
.scoreboard .block {
  text-align: center;
  height: 100%;
  width: 100px;
  font-size: 32px;
  font-weight: bold;
}

.custom-dropdown {
  font-size: .7em;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 10px; /* demo only */
}

.custom-dropdown select {
  background-color: #5CB85C;
  color: #fff;
  font-size: inherit;
  padding: .5em;
  padding-right: 2.5em;	
  border: 0;
  margin: 0;
  border-radius: 3px;
  text-indent: 0.01px;
  text-overflow: '';
  -webkit-appearance: button; /* hide default arrow in chrome OSX */
}

.custom-dropdown::before,
.custom-dropdown::after {
  content: "";
  position: absolute;
  pointer-events: none;
}

.custom-dropdown::after { /*  Custom dropdown arrow */
  content: "\25BC";
  height: 1em;
  font-size: .625em;
  line-height: 1;
  right: 1.2em;
  top: 50%;
  margin-top: -.5em;
}

.custom-dropdown::before { /*  Custom dropdown arrow cover */
  width: 2em;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 0 3px 3px 0;
}

.custom-dropdown select[disabled] {
  color: rgba(0,0,0,.3);
}

.custom-dropdown select[disabled]::after {
  color: rgba(0,0,0,.1);
}

.custom-dropdown::before {
  background-color: rgba(0,0,0,.15);
}

.custom-dropdown::after {
  color: rgba(0,0,0,.4);
} 

/* Curtain container */
#match-details-curtain {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(243, 239, 245, 0.7);
  z-index: 500;
  opacity: 1;
}
/* Match details container */
#match-details-container {
  position: relative;
  color: #F3EFF5;
  background-color: #454955;
  width: 480px;
  padding: 3em 2em;
  border-radius: 6px;
  -webkit-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 17px 3px rgba(0,0,0,0.75);
  opacity: 1;
}

#title {
  display: block;
  position: relative;
  width: 100%;
  font-size: 2em;
  text-align: center;
  margin-bottom: 1.5em;
}

#title::before, #title::after {
  content: '';
  display: block;
  width: 45%;
  border-bottom: 2px solid #99C24D;
  margin: 0 auto;
  margin-top: 0.2em;
}

#title::before {
  margin-bottom: 0.2em;
  width: 60%;
}

#teams-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.flexbox-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33333%;
}

.logo {
  display: block;
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
  background-size: cover;
}

.name {
  font-size: 1.2em;
}

#matchMode {
  width: 100%;
  text-align: center;
}

#matchTime {
  width: 100%;
  text-align: center;
  font-size: 2em;
  margin-bottom: 0.2em;
  margin-top: -0.6em;
}

#vs {
  width: 100%;
  position: relative;
  margin-left: 5px;
}

#vs-line {
  width: 80%;
  float: left;
  margin-top: 6px;
  border: 0;
  border-bottom: 2px dashed #ccc;
}

.circle {
  display: block;
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 2px solid #F3EFF5;
  transform:rotate(360deg); /* for smoother circle */
  -ms-transform:rotate(360deg);
  -moz-transform:rotate(360deg);
  -webkit-transform:rotate(360deg);
  -o-transform:rotate(360deg);
}

#score-container {
  display: block;
  width: 30%;
  height: 60px;
  margin: 0 auto;
}

.score {
  position: relative;
  width: calc(50% - 3px);
  height: 60px;
  float: left;
  text-align: center;
  line-height: 60px;
  border: 2px solid #F3EFF5;
  border-right: 1px solid #F3EFF5;
  background-color: #454955;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
}

.away-team.score {
  float: right;
  border-right: 2px solid #F3EFF5;
  border-left: 1px solid #F3EFF5;
}

.winner {
  color: #02111B;
  background-color: #99C24D;
}

#bottom-devider {
  margin-top: 2em;
  width: 80%;
  border: none;
  border-bottom: 1px solid #99C24D;
}

#close-details {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  top: 15px;
  right: 15px;
  cursor: pointer;
}

#close-details::before, #close-details::after {
  content:'';
  display: block;
  margin-top: 15px;
  width: 100%;
  border-bottom: 2px solid #F3EFF5;
  transform: rotate(45deg);
}

#close-details::after {
  margin-top: -2px;
  transform: rotate(-45deg);
}