#main.container
{
  text-align: center;
}

.disabled
{
  opacity: 0.5;
}
#game-board {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid #ccc;

  background: #ccc;
  border-radius: 0.25em;
}
#game-board > table
{
  margin: 0 auto;
  
}

#game-board > table th
{
  margin: 0;
  padding: 0.125em 0.25em;
  line-height: 100%;
}

#game-board > table .cell
{
  background: #5cb85c;
  border: 1px solid #ccc;
  border-radius: .25em;
  padding: 0;
  margin: 0;
  line-height: 0;
}
#game-board > table .cell.attackable
{
  cursor: pointer;
}
#game-board > table .cell.attackable:hover
{
  background: #cc0;
}

#game-board > table .cell > .disc
{
  display: inline-block;
  width: 3em;
  height: 3em;
  border-radius: 2em;
  margin: 0.25em;
}
#game-board > table .cell.white > .disc
{
  background: #fff;
}
#game-board > table .cell.black > .disc
{
  background: #000;
}
#game-board > table .cell.playable > .disc
{
  background: #F50;
  opacity: 0.2;
}
#game-board > table .cell.playable:hover > .disc
{
  opacity: 1.0;
}
#game-options {
  float:left;
  position: fixed;
  top: 50%;
  /* bring your own prefixes */
  transform: translate(0%, -50%);
}





input[type="checkbox"].sw2 {
  position: relative;
  width: 34px;
  height: 18px;
  margin: 10px;
  visibility: hidden;
  cursor: pointer;
}
input[type="checkbox"].sw2:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
input[type="checkbox"].sw2::before {
  content: '';
  display: inline-block;
  visibility: visible;
  width: inherit;
  height: inherit;
  background: #e6e6e6;
  border-radius: 10px;
  box-shadow: 1px 2px 2px 0px #999;
}
input[type="checkbox"].sw2::after {
  content: '';
  display: inline-block;
  visibility: visible;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 1px;
  left: 1px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 1px 2px 2px 0px #999;
  transition: all .2s;
}
input[type="checkbox"].sw2:checked::before {
  opacity: 0.5;
  background: #adadad;
}
input[type="checkbox"].sw2:checked::after {
  left: 17px;
  background: #adadad;
}

input[type="checkbox"]:checked.sw2-success::before {
  background: #5cb85c;
}
input[type="checkbox"]:checked.sw2-success::after {
  background: #5cb85c;
}

input[type="checkbox"].sw2-lg {
  width: 44px;
  height: 24px;
}
input[type="checkbox"].sw2-lg::before {
  border-radius: 30px;
}
input[type="checkbox"].sw2-lg::after {
  width: 22px;
  height: 22px;
}
input[type="checkbox"].sw2-lg:checked::after {
  left: 21px;
}




.input-color-container {
  left:30%;
  position: relative;
  overflow: hidden;
  width: 44px;
  height: 24px;
border-radius: 40px;
box-shadow: 1px 2px 2px 0px #999;

}

.input-color {
  position: absolute;
  right: -8px;
  top: -8px;
  width: 56px;
  height: 56px;
  border: none;
}
#game-options {
  background-color: rgb(240, 240, 240);
  padding: 30px;
  border-radius: 5%;
}


.open{
  left:-180px !important;
  
}
.transition{
  
-webkit-transition: left 5s ease-out;  /* Chrome 1-25, Safari 3.2+ */
   -moz-transition: left 5s ease-out;  /* Firefox 4-15 */
     -o-transition: left 5s ease-out;  /* Opera 10.50–12.00 */
        transition: left 5s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

}